= stn_icon('arrow-left', class: 'icon--large')
= stn_icon('arrow-left', class: 'icon--large')
= stn_icon('arrow-left', class: 'icon--large')
= stn_icon('arrow-left', class: 'icon--large')
= stn_icon('arrow-left', class: 'icon--large')
= stn_icon('arrow-left', class: 'icon--large')
= stn_icon('arrow-left', class: 'icon--large')
= stn_icon('arrow-left', class: 'icon--large')
= stn_icon('arrow-left', class: 'icon--large')
= stn_icon('arrow-left', class: 'icon--large')
